header {
    font-family:  sans-serif;
    height: 80px;
    width: 100%;
    background-color: #040404;
}

.header_logo{
    float: left; 
    font-size: 5px;
    width:25%;
}
.logo_item{
    font-family:  tahoma;
    font-weight: 700;
    padding: 10px;
    display: inline-block;
    border: solid 2px whitesmoke;
    margin: 15px;
    box-sizing: border-box;
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    border-radius: 5%
}


.login_status{
    border: solid 0px whitesmoke;
    box-sizing: border-box;
    color:whitesmoke;
    text-align: center;
    font-family:  tahoma;
    text-align: right;
    padding-right: 0%;
    padding-left: 65%;
      
    padding-top: 0%;
    margin:30px;
    float: left;
    
}
.home-page-body{
    background-image: url('images/market.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-color:  darkgrey;
}
article{
    font-style: italic;
    text-align: center;
    line-height: 3;
    margin: 5%;
    text-justify: inter-word;
    font-family: tahoma;
    font-size: 26px;
 
}

.get_started{
    font-family:  sans-serif;
    font-weight: 400;
    padding: 10px;
    background-color: #040404;
    border: solid 2px white;
    margin: 15px;
    box-sizing: border-box;
    font-size: 22px;
    color:white;
    text-align: center;
    height: 50px;
}
a{
    text-decoration: none;
}
section a :hover{
    color: black;
    background-color: whitesmoke;
    border: solid 2px whitesmoke;
    
}
@media only screen and (max-width: 1100px) {
    .login_status{
        opacity: 0;
    }
    .logo_item{
        width: 50vw;
        float: center;
        margin-left: 25vw;
        margin-right: 25vw;
    }
}
